*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Mobile: 375px;
  --Desktop: 1440px;
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
  --Font-size: 16px;
  --Family: Poppins, Helvetica, sans-serif;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: var(--Family);
  font-weight: 400;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: url("../images/bg-intro-mobile.png");
  background-size: cover;
}

.container .overlay {
  width: 100%;
  min-height: 100vh;
  padding: 40px 7%;
  background: rgba(255, 0, 0, 0.493);
}

.text-wrapper {
  text-align: center;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.795);
}

.text-wrapper h2 {
  margin-bottom: 20px;
  padding: 0 15px;
}

.text-wrapper p {
  line-height: 25px;
  opacity: 0.8;
}


.form-wrapper button {
  width: 100%;
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
  background: var(--Blue);
  color: rgba(255, 255, 255, 0.795);
  line-height: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}


.form-wrapper .form {
  width: 100%;
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.form-wrapper .form input {
  width: 100%;
  padding: 14px;
  border: 1px solid var(--Grayish-Blue);
  border-radius: 5px;
  position: relative;
}

.form-wrapper .form input:hover {
  border: 1px solid var(--Red);
}

.form-wrapper .form input::placeholder {
  color: var(--Dark-Blue);
}

.form-wrapper .form input.error::placeholder {
  color: var(--Red);
}

.form-wrapper .form input[type=submit] {
  color: rgba(255, 255, 255, 0.795);
  font-weight: 600;
  background: var(--Green);
  cursor: pointer;
  margin-bottom: 15px;
  border: none;
}

.form-wrapper .form input[type=submit]:hover {
  opacity: 0.7;
}

.form-wrapper .form p {
  text-align: center;
  color: var(--Grayish-Blue);
  font-size: 0.7rem;
}

.form-wrapper .form p a {
  text-decoration: none;
  color: var(--Red);
}

.form-wrapper .form p a:hover {
  text-decoration: underline;
}

.form .form-control {
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.form .form-control .error-icon {
  position: absolute;
  right: 25px;
  top: 17px;
  visibility: hidden;
}

.form .form-control .input-tip {
  color: var(--Red);
  font-size: 0.7rem;
  font-style: italic;
  text-align: right;
  padding: 5px;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    min-height: 100vh;
    background: url("../images/bg-intro-desktop.png");
    background-size: cover;
  }

  .overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13%;
  }

  .overlay>div {
    width: 45%;

  }

  .text-wrapper {
    text-align: left;
  }

  .text-wrapper h2 {
    font-size: 2.5rem;
    padding: 0;
  }
}